.button {
    border-radius: 8px;
    color: var(--white);
    background-color: var(--blue);
    border-style: none;
    transition: 0.25s;
    padding: 0.8rem;
    font-size: 1.05rem;
}

.button:hover {
    background-color: var(--hover-blue);
}

.secondaryButton {
    border-radius: 8px;
    color: var(--blue);
    background-color: var(--white);
    border-style: solid;
    border-color: var(--hover-blue);
    transition: 0.25s;
    padding: 0.8rem;
    font-size: 1.05rem;
}

.secondaryButton:hover {
    background-color: var(--hover-blue);
    color: var(--white)
}