.validationMessage {
    flex-grow: 1;
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
    color: var(--red);
    font-weight: bold;
}

.displayNone {
    display: none;
}

.loading {
    position: "fixed" !important;
    top: "50%" !important;
    left: "50%" !important;
    transform: "translate(-50%, -50%)" !important;
    z-index: 2;
}

.loadingBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000070 !important;
    z-index: 1;
}