.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: var(--blue);
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2.5rem;
}

@media (max-width: 425px)
{
    .content {
        width: 97vw;
    }

    .voltar {
        left: 1rem;
        top: 2rem;
    }
}

@media (min-width: 425px) and (max-width: 2500px)
{
    .content {
        width: 70vw;
    }
    
    .voltar {
        left: 5rem;
        top: 3rem;
    }
}

@media (min-width: 2500px)
{
    .content {
        width: 50vw;
    }

    .voltar {
        left: 5rem;
        top: 3rem;
    }
}

.content {
    border-radius: 8px;
    background-color: var(--light-blue);
    position: relative;
    top: 3rem;
    margin-bottom: 2.5rem;
}

.logo svg {
    position: relative;
    top: 2rem;
    max-height: 5rem;
}

.voltar {
    position: fixed;
}

.voltar svg {
    height: 2rem;
    width: 2rem;
    color: var(--white);
    cursor: pointer;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    color: var(--text);
}

.cabecalho {
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

.innerCabecalho {
    margin-left: 2rem;
}

.innerCabecalho h1 {
    color: var(--text);
    font-weight: 700;
}

.innerCabecalho h2 {
    font-weight: 500;
    color: var(--subtitle);
}